@{
    ViewBag.Title = "Monster Tables";
}
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Monster Tables</h1>
            <p class="lead">Literally just lists monsters that can be created, edited, or deleted</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Check out the list!</h2>
            
            <p><a class="btn btn-default btn-primary" href=@Url.Action("Index", "Monster")>Create</a></p>
        </div>
    </div>
</div>